<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCampionatoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCampionatoLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{campionatoController.selected.nome}" title="#{bundle.CreateCampionatoTitle_nome}" required="true" requiredMessage="#{bundle.CreateCampionatoRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.CreateCampionatoLabel_serie}" for="serie" />
                    <h:inputText id="serie" value="#{campionatoController.selected.serie}" title="#{bundle.CreateCampionatoTitle_serie}" />
                    <h:outputLabel value="#{bundle.CreateCampionatoLabel_nazione}" for="nazione" />
                    <h:inputText id="nazione" value="#{campionatoController.selected.nazione}" title="#{bundle.CreateCampionatoTitle_nazione}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{campionatoController.create}" value="#{bundle.CreateCampionatoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{campionatoController.prepareList}" value="#{bundle.CreateCampionatoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCampionatoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
