<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCampionatoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCampionatoLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{campionatoController.selected.nome}" title="#{bundle.EditCampionatoTitle_nome}" required="true" requiredMessage="#{bundle.EditCampionatoRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.EditCampionatoLabel_serie}" for="serie" />
                    <h:inputText id="serie" value="#{campionatoController.selected.serie}" title="#{bundle.EditCampionatoTitle_serie}" />
                    <h:outputLabel value="#{bundle.EditCampionatoLabel_nazione}" for="nazione" />
                    <h:inputText id="nazione" value="#{campionatoController.selected.nazione}" title="#{bundle.EditCampionatoTitle_nazione}" />
                </h:panelGrid>
                <h:commandLink action="#{campionatoController.update}" value="#{bundle.EditCampionatoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCampionatoViewLink}"/>
                <br />
                <h:commandLink action="#{campionatoController.prepareList}" value="#{bundle.EditCampionatoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCampionatoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
