<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCampionatoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCampionatoEmpty}" rendered="#{campionatoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{campionatoController.items.rowCount > 0}">
                    <h:outputText value="#{campionatoController.pagination.pageFirstItem + 1}..#{campionatoController.pagination.pageLastItem + 1}/#{campionatoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{campionatoController.previous}" value="#{bundle.Previous} #{campionatoController.pagination.pageSize}" rendered="#{campionatoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{campionatoController.next}" value="#{bundle.Next} #{campionatoController.pagination.pageSize}" rendered="#{campionatoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{campionatoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampionatoTitle_nome}"/>
                            </f:facet>
                            <h:outputText value="#{item.nome}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampionatoTitle_serie}"/>
                            </f:facet>
                            <h:outputText value="#{item.serie}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampionatoTitle_nazione}"/>
                            </f:facet>
                            <h:outputText value="#{item.nazione}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{campionatoController.prepareView}" value="#{bundle.ListCampionatoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{campionatoController.prepareEdit}" value="#{bundle.ListCampionatoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{campionatoController.destroy}" value="#{bundle.ListCampionatoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{campionatoController.prepareCreate}" value="#{bundle.ListCampionatoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCampionatoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
