<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCampionatoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCampionatoLabel_nome}"/>
                    <h:outputText value="#{campionatoController.selected.nome}" title="#{bundle.ViewCampionatoTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewCampionatoLabel_serie}"/>
                    <h:outputText value="#{campionatoController.selected.serie}" title="#{bundle.ViewCampionatoTitle_serie}"/>
                    <h:outputText value="#{bundle.ViewCampionatoLabel_nazione}"/>
                    <h:outputText value="#{campionatoController.selected.nazione}" title="#{bundle.ViewCampionatoTitle_nazione}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{campionatoController.destroyAndView}" value="#{bundle.ViewCampionatoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCampionatoEditLink}"/>
                <br />
                <h:commandLink action="#{campionatoController.prepareCreate}" value="#{bundle.ViewCampionatoCreateLink}" />
                <br />
                <h:commandLink action="#{campionatoController.prepareList}" value="#{bundle.ViewCampionatoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCampionatoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
