<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDirigenteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDirigenteLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{dirigenteController.selected.nome}" title="#{bundle.CreateDirigenteTitle_nome}" />
                    <h:outputLabel value="#{bundle.CreateDirigenteLabel_cognome}" for="cognome" />
                    <h:inputText id="cognome" value="#{dirigenteController.selected.cognome}" title="#{bundle.CreateDirigenteTitle_cognome}" />
                    <h:outputLabel value="#{bundle.CreateDirigenteLabel_nazionalita}" for="nazionalita" />
                    <h:inputText id="nazionalita" value="#{dirigenteController.selected.nazionalita}" title="#{bundle.CreateDirigenteTitle_nazionalita}" />
                    <h:outputLabel value="#{bundle.CreateDirigenteLabel_squadra}" for="squadra" />
                    <h:selectOneMenu id="squadra" value="#{dirigenteController.selected.squadra}" title="#{bundle.CreateDirigenteTitle_squadra}" >
                        <f:selectItems value="#{squadraController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{dirigenteController.create}" value="#{bundle.CreateDirigenteSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{dirigenteController.prepareList}" value="#{bundle.CreateDirigenteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDirigenteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
