<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDirigenteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDirigenteLabel_id}" for="id" />
                    <h:inputText id="id" value="#{dirigenteController.selected.id}" title="#{bundle.EditDirigenteTitle_id}" required="true" requiredMessage="#{bundle.EditDirigenteRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditDirigenteLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{dirigenteController.selected.nome}" title="#{bundle.EditDirigenteTitle_nome}" />
                    <h:outputLabel value="#{bundle.EditDirigenteLabel_cognome}" for="cognome" />
                    <h:inputText id="cognome" value="#{dirigenteController.selected.cognome}" title="#{bundle.EditDirigenteTitle_cognome}" />
                    <h:outputLabel value="#{bundle.EditDirigenteLabel_nazionalita}" for="nazionalita" />
                    <h:inputText id="nazionalita" value="#{dirigenteController.selected.nazionalita}" title="#{bundle.EditDirigenteTitle_nazionalita}" />
                    <h:outputLabel value="#{bundle.EditDirigenteLabel_squadra}" for="squadra" />
                    <h:selectOneMenu id="squadra" value="#{dirigenteController.selected.squadra}" title="#{bundle.EditDirigenteTitle_squadra}" >
                        <f:selectItems value="#{squadraController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{dirigenteController.update}" value="#{bundle.EditDirigenteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDirigenteViewLink}"/>
                <br />
                <h:commandLink action="#{dirigenteController.prepareList}" value="#{bundle.EditDirigenteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDirigenteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
