<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDirigenteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDirigenteEmpty}" rendered="#{dirigenteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{dirigenteController.items.rowCount > 0}">
                    <h:outputText value="#{dirigenteController.pagination.pageFirstItem + 1}..#{dirigenteController.pagination.pageLastItem + 1}/#{dirigenteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{dirigenteController.previous}" value="#{bundle.Previous} #{dirigenteController.pagination.pageSize}" rendered="#{dirigenteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{dirigenteController.next}" value="#{bundle.Next} #{dirigenteController.pagination.pageSize}" rendered="#{dirigenteController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{dirigenteController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDirigenteTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDirigenteTitle_nome}"/>
                            </f:facet>
                            <h:outputText value="#{item.nome}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDirigenteTitle_cognome}"/>
                            </f:facet>
                            <h:outputText value="#{item.cognome}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDirigenteTitle_nazionalita}"/>
                            </f:facet>
                            <h:outputText value="#{item.nazionalita}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDirigenteTitle_squadra}"/>
                            </f:facet>
                            <h:outputText value="#{item.squadra}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{dirigenteController.prepareView}" value="#{bundle.ListDirigenteViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{dirigenteController.prepareEdit}" value="#{bundle.ListDirigenteEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{dirigenteController.destroy}" value="#{bundle.ListDirigenteDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{dirigenteController.prepareCreate}" value="#{bundle.ListDirigenteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDirigenteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
