<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDirigenteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDirigenteLabel_id}"/>
                    <h:outputText value="#{dirigenteController.selected.id}" title="#{bundle.ViewDirigenteTitle_id}"/>
                    <h:outputText value="#{bundle.ViewDirigenteLabel_nome}"/>
                    <h:outputText value="#{dirigenteController.selected.nome}" title="#{bundle.ViewDirigenteTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewDirigenteLabel_cognome}"/>
                    <h:outputText value="#{dirigenteController.selected.cognome}" title="#{bundle.ViewDirigenteTitle_cognome}"/>
                    <h:outputText value="#{bundle.ViewDirigenteLabel_nazionalita}"/>
                    <h:outputText value="#{dirigenteController.selected.nazionalita}" title="#{bundle.ViewDirigenteTitle_nazionalita}"/>
                    <h:outputText value="#{bundle.ViewDirigenteLabel_squadra}"/>
                    <h:outputText value="#{dirigenteController.selected.squadra}" title="#{bundle.ViewDirigenteTitle_squadra}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{dirigenteController.destroyAndView}" value="#{bundle.ViewDirigenteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDirigenteEditLink}"/>
                <br />
                <h:commandLink action="#{dirigenteController.prepareCreate}" value="#{bundle.ViewDirigenteCreateLink}" />
                <br />
                <h:commandLink action="#{dirigenteController.prepareList}" value="#{bundle.ViewDirigenteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDirigenteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
