<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAllenatoreTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAllenatoreLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{allenatoreController.selected.nome}" title="#{bundle.CreateAllenatoreTitle_nome}" />
                    <h:outputLabel value="#{bundle.CreateAllenatoreLabel_cognome}" for="cognome" />
                    <h:inputText id="cognome" value="#{allenatoreController.selected.cognome}" title="#{bundle.CreateAllenatoreTitle_cognome}" />
                    <h:outputLabel value="#{bundle.CreateAllenatoreLabel_giocatore}" for="giocatore" />
                    <h:selectBooleanCheckbox id="giocatore" value="#{allenatoreController.selected.giocatore}" title="#{bundle.CreateAllenatoreTitle_giocatore}" />
                    
                    <h:outputLabel value="#{bundle.CreateAllenatoreLabel_nazionalita}" for="nazionalita" />
                    <h:inputText id="nazionalita" value="#{allenatoreController.selected.nazionalita}" title="#{bundle.CreateAllenatoreTitle_nazionalita}" />
                    <h:outputLabel value="#{bundle.CreateAllenatoreLabel_campionato}" for="campionato" />
                    <h:selectOneMenu id="campionato" value="#{allenatoreController.selected.campionato}" title="#{bundle.CreateAllenatoreTitle_campionato}" >
                        <f:selectItems value="#{campionatoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{allenatoreController.create}" value="#{bundle.CreateAllenatoreSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{allenatoreController.prepareList}" value="#{bundle.CreateAllenatoreShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAllenatoreIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
