<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAllenatoreTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAllenatoreLabel_id}" for="id" />
                    <h:inputText id="id" value="#{allenatoreController.selected.id}" title="#{bundle.EditAllenatoreTitle_id}" required="true" requiredMessage="#{bundle.EditAllenatoreRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditAllenatoreLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{allenatoreController.selected.nome}" title="#{bundle.EditAllenatoreTitle_nome}" />
                    <h:outputLabel value="#{bundle.EditAllenatoreLabel_cognome}" for="cognome" />
                    <h:inputText id="cognome" value="#{allenatoreController.selected.cognome}" title="#{bundle.EditAllenatoreTitle_cognome}" />
                    <h:outputLabel value="#{bundle.EditAllenatoreLabel_giocatore}" for="giocatore" />
                    <h:inputText id="giocatore" value="#{allenatoreController.selected.giocatore}" title="#{bundle.EditAllenatoreTitle_giocatore}" />
                    <h:outputLabel value="#{bundle.EditAllenatoreLabel_nazionalita}" for="nazionalita" />
                    <h:inputText id="nazionalita" value="#{allenatoreController.selected.nazionalita}" title="#{bundle.EditAllenatoreTitle_nazionalita}" />
                    <h:outputLabel value="#{bundle.EditAllenatoreLabel_campionato}" for="campionato" />
                    <h:selectOneMenu id="campionato" value="#{allenatoreController.selected.campionato}" title="#{bundle.EditAllenatoreTitle_campionato}" >
                        <f:selectItems value="#{campionatoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{allenatoreController.update}" value="#{bundle.EditAllenatoreSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAllenatoreViewLink}"/>
                <br />
                <h:commandLink action="#{allenatoreController.prepareList}" value="#{bundle.EditAllenatoreShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAllenatoreIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
