<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAllenatoreTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAllenatoreEmpty}" rendered="#{allenatoreController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{allenatoreController.items.rowCount > 0}">
                    <h:outputText value="#{allenatoreController.pagination.pageFirstItem + 1}..#{allenatoreController.pagination.pageLastItem + 1}/#{allenatoreController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{allenatoreController.previous}" value="#{bundle.Previous} #{allenatoreController.pagination.pageSize}" rendered="#{allenatoreController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{allenatoreController.next}" value="#{bundle.Next} #{allenatoreController.pagination.pageSize}" rendered="#{allenatoreController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{allenatoreController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAllenatoreTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAllenatoreTitle_nome}"/>
                            </f:facet>
                            <h:outputText value="#{item.nome}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAllenatoreTitle_cognome}"/>
                            </f:facet>
                            <h:outputText value="#{item.cognome}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAllenatoreTitle_giocatore}"/>
                            </f:facet>
                            <h:outputText value="#{item.giocatore}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAllenatoreTitle_nazionalita}"/>
                            </f:facet>
                            <h:outputText value="#{item.nazionalita}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAllenatoreTitle_campionato}"/>
                            </f:facet>
                            <h:outputText value="#{item.campionato}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{allenatoreController.prepareView}" value="#{bundle.ListAllenatoreViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{allenatoreController.prepareEdit}" value="#{bundle.ListAllenatoreEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{allenatoreController.destroy}" value="#{bundle.ListAllenatoreDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{allenatoreController.prepareCreate}" value="#{bundle.ListAllenatoreCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAllenatoreIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
