<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAllenatoreTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAllenatoreLabel_id}"/>
                    <h:outputText value="#{allenatoreController.selected.id}" title="#{bundle.ViewAllenatoreTitle_id}"/>
                    <h:outputText value="#{bundle.ViewAllenatoreLabel_nome}"/>
                    <h:outputText value="#{allenatoreController.selected.nome}" title="#{bundle.ViewAllenatoreTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewAllenatoreLabel_cognome}"/>
                    <h:outputText value="#{allenatoreController.selected.cognome}" title="#{bundle.ViewAllenatoreTitle_cognome}"/>
                    <h:outputText value="#{bundle.ViewAllenatoreLabel_giocatore}"/>
                    <h:outputText value="#{allenatoreController.selected.giocatore}" title="#{bundle.ViewAllenatoreTitle_giocatore}"/>
                    <h:outputText value="#{bundle.ViewAllenatoreLabel_nazionalita}"/>
                    <h:outputText value="#{allenatoreController.selected.nazionalita}" title="#{bundle.ViewAllenatoreTitle_nazionalita}"/>
                    <h:outputText value="#{bundle.ViewAllenatoreLabel_campionato}"/>
                    <h:outputText value="#{allenatoreController.selected.campionato}" title="#{bundle.ViewAllenatoreTitle_campionato}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{allenatoreController.destroyAndView}" value="#{bundle.ViewAllenatoreDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAllenatoreEditLink}"/>
                <br />
                <h:commandLink action="#{allenatoreController.prepareCreate}" value="#{bundle.ViewAllenatoreCreateLink}" />
                <br />
                <h:commandLink action="#{allenatoreController.prepareList}" value="#{bundle.ViewAllenatoreShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAllenatoreIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
