<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditSquadraTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditSquadraLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{squadraController.selected.nome}" title="#{bundle.EditSquadraTitle_nome}" required="true" requiredMessage="#{bundle.EditSquadraRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.EditSquadraLabel_nazione}" for="nazione" />
                    <h:inputText id="nazione" value="#{squadraController.selected.nazione}" title="#{bundle.EditSquadraTitle_nazione}" />
                    <h:outputLabel value="#{bundle.EditSquadraLabel_annofondazione}" for="annofondazione" />
                    <h:inputText id="annofondazione" value="#{squadraController.selected.annofondazione}" title="#{bundle.EditSquadraTitle_annofondazione}" />
                    <h:outputLabel value="#{bundle.EditSquadraLabel_campionato}" for="campionato" />
                    <h:selectOneMenu id="campionato" value="#{squadraController.selected.campionato}" title="#{bundle.EditSquadraTitle_campionato}" >
                        <f:selectItems value="#{campionatoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{squadraController.update}" value="#{bundle.EditSquadraSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditSquadraViewLink}"/>
                <br />
                <h:commandLink action="#{squadraController.prepareList}" value="#{bundle.EditSquadraShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditSquadraIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
