<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSquadraTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSquadraEmpty}" rendered="#{squadraController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{squadraController.items.rowCount > 0}">
                    <h:outputText value="#{squadraController.pagination.pageFirstItem + 1}..#{squadraController.pagination.pageLastItem + 1}/#{squadraController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{squadraController.previous}" value="#{bundle.Previous} #{squadraController.pagination.pageSize}" rendered="#{squadraController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{squadraController.next}" value="#{bundle.Next} #{squadraController.pagination.pageSize}" rendered="#{squadraController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{squadraController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSquadraTitle_nome}"/>
                            </f:facet>
                            <h:outputText value="#{item.nome}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSquadraTitle_nazione}"/>
                            </f:facet>
                            <h:outputText value="#{item.nazione}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSquadraTitle_annofondazione}"/>
                            </f:facet>
                            <h:outputText value="#{item.annofondazione}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSquadraTitle_campionato}"/>
                            </f:facet>
                            <h:outputText value="#{item.campionato}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{squadraController.prepareView}" value="#{bundle.ListSquadraViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{squadraController.prepareEdit}" value="#{bundle.ListSquadraEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{squadraController.destroy}" value="#{bundle.ListSquadraDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{squadraController.prepareCreate}" value="#{bundle.ListSquadraCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListSquadraIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
