<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSquadraTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSquadraLabel_nome}"/>
                    <h:outputText value="#{squadraController.selected.nome}" title="#{bundle.ViewSquadraTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewSquadraLabel_nazione}"/>
                    <h:outputText value="#{squadraController.selected.nazione}" title="#{bundle.ViewSquadraTitle_nazione}"/>
                    <h:outputText value="#{bundle.ViewSquadraLabel_annofondazione}"/>
                    <h:outputText value="#{squadraController.selected.annofondazione}" title="#{bundle.ViewSquadraTitle_annofondazione}"/>
                    <h:outputText value="#{bundle.ViewSquadraLabel_campionato}"/>
                    <h:outputText value="#{squadraController.selected.campionato}" title="#{bundle.ViewSquadraTitle_campionato}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{squadraController.destroyAndView}" value="#{bundle.ViewSquadraDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSquadraEditLink}"/>
                <br />
                <h:commandLink action="#{squadraController.prepareCreate}" value="#{bundle.ViewSquadraCreateLink}" />
                <br />
                <h:commandLink action="#{squadraController.prepareList}" value="#{bundle.ViewSquadraShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSquadraIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
