<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Assignment3</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Assignment3-Home Page
        <br />
        <h:link outcome="/allenatore/List" value="Lista allenatori"/>
        <br />
        <h:link outcome="/campionato/List" value="Lista campionati"/>
        <br />
        <h:link outcome="/dirigente/List" value="Lista dirigenti"/>
        <br />
        <h:link outcome="/squadra/List" value="Lista squadra"/>
    </h:body>




</html>

